<header>
    <ul>
        <li><a href="default.asp">QUIZ-CORE</a></li>
    </ul>
</header>

<div class="Image-container"> 
    <img class="img" width="1333vw" height="700vh" [src]=myimage>
</div>

<div class = "admin">
    <div class="row">
        <div class="column">
          <h2>Question</h2>
        </div>
        <div class="column">
          <button class="button" (click)="add()">ADD</button>
        </div>
      </div>
</div>

<div>
    <table class="examtable" style="position: absolute;top:10rem; margin:3rem;">
      <tr *ngFor="let question of array" style="position: relative;background-color: rgb(122, 186, 238);">
        <td style="width: 10rem; text-align:center;">{{ question.id }}</td>
        <td style="width:20rem; padding: 10px;">{{ question.question_Title }}</td>
        <td style="width: 5rem;"><button (click) = "edit($event)" type="button" class="tableButtonEdit" id="{{ question.id }}">Edit</button></td>
        <td style="width: 5rem;"><button (click) = "delete($event)" type="button" class="tableButtonDelete" id="{{ question.id }}">Delete</button></td>
      </tr>
    </table>

  </div>